#loginSignupContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;
    margin: 100px 15px 0px 10px;
    padding: 10px;
    align-content: center;
}

#loginSignupForm {
    display: flex;
    color: #ffffff;
    text-shadow: 1px 1px 5px black;
    flex-direction: column;
    padding: 10px;
}

#dreamEntryForm {
    display: flex;
    color: #ffffff;
    text-shadow: 1px 1px 5px black;
    flex-direction: column;
    width: 350px;
    margin: 10px 15px 35px 10px;
    padding: 10px;
    align-content: center;
}

#loginSignupText {
    color: #ffffff;
    text-shadow: 1px 1px 5px black;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

.dreamInputLabel {
    padding-top: 15px;
}

input,
select,
textarea {
    border: solid 1px #ccc;
    border-radius: 10px;
    width: 100%;
}

.react-datepicker__tab-loop,
.react-datepicker-ignore-onclickoutside {
    text-shadow: none;
}

.radioSelectionContainer {
    display: flex;
    width: auto;
    margin: 2px;
}

.radioSelectionLabel {
    margin-left: 5px;
}

@media only screen and (max-device-width: 576px) {
    #loginSignupText {
        font-size: larger;
        font-weight: bolder;
        text-align: center;
        padding: 10px;
    }
    #loginSignupContainer {
        display: flex;
        flex-direction: column;
        width: 90%;
        border-style: solid;
        border-radius: 5px;
        border-color: #ffffff;
        margin: 8rem 15px 0px 10px;
        padding: 10px;
        align-content: center;
    }

    #loginSignupForm {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}
